header{
    background-color: #075192;
    padding-top: 20px;
}
#ana-menu{
    background-color: #075192;
}
.dropdown-menu{
    background-color: #075192;
    
}
.gri-arkaplan{
    background-color: #ecf1f5;

}
#ana-menu .nav-link{
    color: #ecf1f5;
}
#meb-baslik{
    color: #0c63a9;
}
#okul-baslik{
    color: #1295d5;
}
#baglantilar .list-group-item-action{
    color: #ecf1f5;
    background-color: #075192;
    margin-right: 2px;
}
#liste-baslik{
    text-align: center;
    height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
}
.slider-aciklama{
    background-color: rgba(0, 0, 0, 0.41);
    padding: 10px;
}
.carousel-indicators [data-bs-target]{
    width: 30px;
    height: 7px;
    background-color: darkgrey;
    border: solid #fff 3px;
}